img {
    display: block;
    margin: 0 auto;
}

div.form {
    display: block;
    text-align: center; 
}

table {
    width: 400px;
}

input {
    width: 100%;
    box-sizing: border-box;
}

form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

button {
    float: right;
    font-size: medium;
}

.headerCol {
    font-size: large;
}

.required {
    color: red;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.modalContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    border-radius: 5px;
    padding: 15px;
    border: 1px solid #888;
    margin: 0 auto;
}

.error {
    color: red;
}

.modalText {
    float: center;
}

#title {
    text-align: center;
}